.site-footer {
  width: 100%;
  height: 355px;
  padding-top: 4rem;
  color: white;
  line-height: 1.4;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: auto;
    .contact,.business {
      width: 25%;
    }
    .footer-logo {
      height: 50px;
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
    .site-info {
      text-align: center;
      width: 100%;
      font-family: $font__main;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  h3 {
    font-size: 19.2px;
    letter-spacing: 2px;
    color: #d99054;
    margin-bottom: $base__space-unit;
  }
  p span {
    font-weight: bold;
    font-family: 'merriweatherbold';
  }
  i {
    margin: 0 .4rem;
    width: 1rem;
    &:first-child{
      margin-left: 0;
    }
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}