/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

/* Buttons */
button,
.btn,
.white-btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
	text-transform: uppercase;
	&:hover{
		background: #19625d;
    	color: #fff;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0;
    background-color: #f4f4f4;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: .3rem;
}

textarea {
	padding-left: 3px;
	width: 90%;
}

fieldset{
	border: 0;
    padding: 0;
    padding-bottom: .75rem;
    margin: 0;
}

label {
    color: #2f1339;
    display: block;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 17.6px;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.orange {
    color: #d99054;
}