.site-header {
    color: $color__header-text;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 0;
    position: fixed;
   // top: 32px;
    left: 0;
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.85);

    .container {
        margin: 0 auto;
        max-width: 1120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo-img {
        height: 33px;
        width: 50px;
    }

    nav.site-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul.menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
    
            .list-item {
                padding-right: 24px;
                display: inline;

                a {
                    color: $color__header-text;
                }
            }
        }

        .search-form {
            display: flex;
            align-items: center;
        }

        .search-toggle {
            color: $color__header-text;
            margin-right: 24px;
            cursor: pointer;
           
        }

        .search-container {
            display: none;

            .search-field {
                border: none;
                cursor: text;
                background: transparent;
                border-bottom: 1px solid #999;
                font-size: 16px;
            }
        }
    }
    
}

.regular-header-logo {
    display: block;

    .page-about & {
        display: none;
    }
}

.about-header-logo {
    display: none;

    .page-about &, .page-home & {
        display: block;
    }
}

