/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* about page */

    .about-page-header {

        .site-header {
            position: absolute;
            background: transparent;
            color: #fff;
            border: none;

    
            .site-navigation ul.menu li.list-item a {
                color: #fff;
    
            }
    
            nav.site-navigation .search-toggle {
                color: #fff;
            }
        }
    }

.page-about {

    .site-content {
        margin-left: initial;
        margin-right: initial;
        padding-top: 0;
    }

.about-container {

.entry-content .hero-image-header{
    height: 100vh;
    background-size: cover cover;
    background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), no-repeat center bottom;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    
}

.hentry {
    margin: 0;
}

.entry-content {
    margin: 0;
}

.entry-title {
    color: #fff;
    font-size: 48px;
}
.entry-content h2 {
    text-align: center;
    font-size: 2.1rem;
    color: #2f1339;
    margin-bottom: 1.5rem;
    line-height: 1.25rem;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.entry-content p {

    color: #404040;
    font-family: Merriweather Web,serif;
    font-size: 16px;
    line-height: 1.75;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

}

}

.site-content {
    margin: auto;
    max-width: 1120px;
}



/*--------------------------------------------------------------comment--------------------------------------------------------------*/
.comment{
    padding-top: 1.5rem;
    article {
        padding-bottom: 1.5rem;
    }
}

.comment-body {
    display: flex;
}

.comment-author cite{
    font-style: normal;
    font-weight: 700;
}

.comment-author-avatar {
    border-radius: 50%;
    height: 64px;
    margin-right: 1.5rem;
    overflow: hidden;
    width: 64px;
}

.comment-metadata{
    color:gray;
}

.comment-list{
    padding-left: 0;
    margin-left: 0;
}

.comment-list>li {
    border-bottom: 1px solid #e1e1e1;
}

.children li {
   border-top: 1px solid #e1e1e1;;
}

.comment-form-author, .comment-form-email {
    float: left;
}

.comment-form-author {
    margin-right: 1%;
    width: 49%;
}

.comment-form-email {
    margin-left: 1%;
    width: 49%;
}

.comment-form-url{
    width: 100%;
}

.comment-form-cookies-consent{
    display: none;
}

