.archive-product-type {
    width: 100%;
    margin-top: 57px;
    

    .shop-page-header {
        border-bottom: 1px dashed #c8c8c8;
        margin-bottom: 3rem;
        text-align: center;

        h2{
            text-transform: uppercase;
            align-items: center;
            font-size: 38px;
        }
       
    
        .post-type-archive & {
            display: block;
        }
    
        .product-type-list {
            display: flex;
            font-family: Novecento Sans Web,sans-serif;
            font-size: 19.2px;
            font-size: 1.2rem;
            -ms-flex-pack: center;
            justify-content: center;
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            text-transform: uppercase;

            .taxonomy-button{
                padding-right: 35px;
                align-items: center;
            }
           
    
            li {
                margin: 0 1.5rem;
    
                a {
                   // color: #248a83;
                    text-decoration: none;
                   
                }
            }
        }
    }

    .site-main {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem;

        article {
            border: 1px solid #e1e1e1;

            .entry-header {
                position: relative;
                height: 250px;
                overflow: hidden;

                img {
                    left: 50%;
                    max-height: 250px;
                    max-width: none;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%,-52%);
                    width: auto;
                    object-fit: cover;
                }
            }

            .entry-title {
                padding: 12px 16px;
                margin: 0;
                font-weight: normal;
                
                a {
                    font-size: 14px;
                    color: #000;
                }
            }

        }
    }
}