/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


.widget {
	margin: 0 0 ($base__space-unit * 2);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	h2 {
		@include font-size(1.5);
	}

	ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	p {
      margin-bottom: $base__space-unit / 3;
   }

	.contact-meta {
		display: flex;

		i {
			line-height: 1.8;
	         margin-right: $base__space-unit / 3;
			width: 20px;
	   }
	}

   .day-of-week {
	  font-weight: bold;
	  
   }
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-area {
    width: 500px;
    padding: 40px 30px;
    border-left: 0px;
    & div {
      margin: 20px 0;
      border: 0px;
    }
    & a {
      color:#248a83; ;
    }
    & a:hover {
      color:#248a83 ;
    }
  }