/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 $base__space-unit;
	ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	h2 {
		font-size: 24px;
		//letter-spacing: 1px;
		margin-bottom: 1.4rem;
	}
}


.contact-info-widget-class {
	a {
		font-size: 16px;
		font-family: 'Merriweather Web';
	}
	p {
		display: flex;
		font-size: 16px;
		font-family: 'Merriweather Web';
	}


	i {
		margin-right: .5rem;
		width: 1rem;
	}
}


.business-hours-class {
	  
p {
	font-family: 'Merriweather Web';
}

	p span {
	font-weight: bold;
	

}
}